.posts{
  margin-left: 300px;
  width: calc(100% - 300px);
top:120px;
position:absolute;
  padding: 0 75px 0 68px;
  @media (max-width: 1100px) {
    width:100%;
    margin-left: 0;
    
   }
  @media (max-width: 768px) {
    padding:0 30px
      
     }
}
.posts .title {
  font-size: 18px;
} 

.post-container {
gap:24px;
margin-top: 24px;
}