
.sidebar {
  width: 300px;
  position: fixed;
  top:104px;
  transition:width 1s ease-in-out ; 
 height: calc(100vh - 100px);
background-color: #fff;
 border-right: 1px solid #E8E8E8;
 padding: 60px 18px;
 z-index: 1;
 @media (max-width: 1100px) {
  width: 0;
  overflow: hidden;
  padding:60px 0;

 }

}


.nav-item {
  margin-bottom: 12px;
  line-height:44px;
  display: flex;
 text-decoration: none;
 color: #7A7A7A;
 height: 44px;
 border-radius: 10px;
 &:hover {
  background: rgba(19, 78, 112, 0.25);
  color:#134E70;
 }
 & span {
  margin-left: 12px;
  margin-right: 1rem;

 }
 & p {
  line-height: 40px;
 }
}
