.news {
  margin-bottom: 24px;;
  cursor: pointer;
  height:600px;
  overflow: hidden;
}
.news:hover .news-image{
  height:650px;
}

.news-title  h3{
  font-weight: 500;
  font-size: 44px;
  
  color: #fff;
  position: absolute;
  top:470px;
  left:30px;
}

.news-image {
  position: relative;
  background-position: center center;
  height:600px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.4s ease-in-out;

}