.users {
  margin-left: 300px;
  padding: 0 68px;
  

}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.users .title {
  font-size: 18px;
} 

.card-container {
  margin-top: 24px;
  gap:24px;
}