.users {
  margin-left: 300px;
  padding: 0 68px;
  top:120px;
position:absolute;
@media (max-width: 1100px) {
  width:100%;
  margin-left: 0;

  
 }
@media (max-width: 768px) {
  padding: 0 30px;
    
   }

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users .title {
  font-size: 18px;
  margin-top: 8px;
} 

.card-container {
  margin-top: 24px;
  gap:24px;
}